/* Color scheme variables selected from http://khroma.co/generator/ */
:root {
    --black: black;
    /* Dark Mode Colors */
    --astronaut: #233168;
    --powder: #2cc2da;
    /* Light Mode Colors */
    --junglemist: #d0e0e7;
    --bay: #213bad;
}

* {
    /* Times New Roman font family */
    font-family: 'Times New Roman', Times, serif;
}

/* Sets Header and footer alignment properties, colors, and padding */
header,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(var(--astronaut), var(--bay));
    color: var(--junglemist);
    padding: 0.5em;
    width: 100%;
    align-items: center;
}

/* Sets header spacing and color gradient */
header {
    background: linear-gradient(var(--astronaut), var(--bay));
}

/* Sets text color of various selectors */
h1,
h3,
a,
li,
ul {
    color: var(--junglemist);
}

/* Formats all list elements */
li {
    display: inline;
    padding-right: 1.5%;
}

/* Formatting and layout for title name/header */
h1 {
    font-size: 3em;
    margin-left: 5%;
}

/* Formatting and layout for header list */
header ul {
    font-size: 1.5em;
    flex-basis: 40%;
}

/* Removes underline from links */
a {
    text-decoration: none;
}

/* Changes colors of links when hovering over them */
a:hover {
    color: var(--powder);
}

nav a {
    margin: 0.4em;
}

/* Sets body container colors and flex properties */
body {
    display: flex;
    flex-wrap: wrap;
    background-image: url(./background.jpg);
    /* Image of my dog, George */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Sets main container layout */
main {
    flex-basis: 75%;
    margin: 1%;
}

/* Main container box formatting */
#aboutme,
#newproject {
    margin: 5%;
    background: linear-gradient(var(--astronaut), var(--bay));
    color: var(--junglemist);
    border-style: double;
    border-radius: 0 1em 1em 0;
    padding: 1em;
}

/* Section layout  */
#aboutme section,
#newproject section {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5em 0 0 1em;
}

/* Aligns information text in main containers */
.information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Makes Latest project image link take up 30% of container*/
#newproject a {
    max-width: 30%;
}

/* Provides spacing for text in main containers */
.information p {
    margin-bottom: 1em;
    font-size: 1.3em;
}

/* Main article header formatting & underline */
h2 {
    font-size: 2.5em;
    width: 50%;
    border-bottom: 3px solid var(--junglemist);
    margin: 0 0 0.5% 1%;
}

/* General formatting for aside container */
aside {
    text-align: center;
    flex-basis: 20%;
    margin: 1% 1% 1.5% 1%;
    flex-direction: column;
    color: var(--junglemist);
    background: linear-gradient(var(--astronaut), var(--bay));
    border-style: double;
    border-radius: 1em;
}

/* Layout and flex information for aside articles */
aside article {
    position: relative;
    flex: 0.5 2;
}

/* Formats article main header */
aside h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

/* Project header styling */
h4 {
    font-size: 1.25em;
    font-style: italic;
    text-shadow: var(--black) 1px 1px;
    margin-bottom: 1em;
    background-color: var(--black);
}

/* General image border styling */
img {
    border: 3px solid var(--black);
    border-radius: 0 1em 1em 0;
}

/* Main section image formatting */
main img {
    max-width: 30%;
    height: auto
}

/* Latest Project image formatting */
a img {
    max-width: 100%;
    height: auto;
}

#profilepic {
    max-width: 350px;
    min-width: 250px;
    max-height: 350px;
    min-height: auto;
}

/* Adds border and radius around aside images */
.project img {
    max-width: 50%;
    height: auto;
    margin-bottom: 5%;
}

/* Flex properties for information section */
.information {
    flex: 0.5 2 75%
}

/* Image text positioning & styling */
h6 {
    color: var(--junglemist);
    background: var(--black);
    font-style: italic;
    border: 0.5px solid var(--black);
    text-align: left;
    position: absolute;
    left: 35%;
    flex-shrink: 3;
}

.project p {
    margin-bottom: 5%;
}

/* Increases image size of main project image when hovering*/
#lateimg:hover {
    transform: scale(1.4, 1.4);
    transition-duration: 0.5s;
}

/* Footer alignment and text size */
footer {
    justify-content: space-around;
    font-size: 1.25em;
    opacity: 0.9;
}

/* Responsive layout information */
@media screen and (max-width: 980px) {

    /* Realign headers text */
    header {
        justify-content: center;
        text-align: center;
    }

    /* Realign h2 */
    h2 {
        text-align: center;
        width: auto;
    }

    /* Pushes Aside below Main Container */
    main {
        flex-basis: 100%;
    }

    /* Brings aside container under main container */
    aside {
        flex-basis: 100%;
        margin: 5%;
    }

    /* Formats aside pictures */
    .project img {
        margin: 1em 0;
        height: 200px;
        width: auto;
    }

    /* Removes image text */
    h6 {
        display: none;
    }

    /* Reformats list styles */
    ul li {
        display: flex;
        flex-direction: column;
        margin: 0.5em 0;
    }

    #profilepic {
        min-width: 150px;
        max-width: 250px;
        min-height: auto;
        max-height: 250px;
    }
}

/* Responsive layout for under 600px */
@media screen and (max-width: 600px) {

    /* Moves main container pictures above text  */
    #aboutme section,
    #newproject section {
        flex-wrap: wrap;
    }

    /* Fix Header spacing */
    h1 {
        margin-bottom: 1rem;
    }

    /* Moves pictures to center */
    .picInfo {
        justify-content: center;
    }

    #profilepic {
        display: center;
        min-width: 80%;
        min-height: 80%;
    }

    #lateimg {
        display: center;
        min-width: 80%;
    }
}